.input-label-stock {
    display: flex;
}

.labelAndInput-stock {
    width: 10%;
}

.container-register-form-admin {
    background-color: grey;
}
.container-stock {
    display: flex;
    margin: 10px 0;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.input-create-stock {
    border-radius: 3px;
    border: 1px solid black;
    height: 27px;
    width: 100%;
    padding-left: 15px;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
}

.select-create-stock {
    background: white;
    padding: 3px;
    border-color: black;
    border-radius: 3px;
}

.button-create-stock {
    background: rgb(0 0 0);
    color: white;
    padding: 4px;
    border-radius: 14px;
    font-size: 12px;
    font-weight: bold;
}

.labelAndInput-stock-finally {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
}
.labelAndInput-stock-finally p {
    background-color: #a2a2ac;
    border: black;
    border-radius: 4px;
    margin-left: 2px;
    font-weight: bold;
    height: 25px;
}

.gender-details-create-admin {
    display: flex;
    width: calc(100% / 2 - 20px);
    align-items: flex-start;
    flex-direction: column;
    padding: 12px 0;
}

.gender {
    font-size: 10px;
    font-weight: 600;
}

form .gender-details-create-admin .gender-title {
    font-size: 10px;
    font-weight: 600;
}

form .gender-details-create-admin .category {
    display: flex;
    width: 60%;
    margin: 14px 0;
    justify-content: space-between;
}

.gender-details-create-admin .category label {
    display: flex;
    align-items: center;
}

.gender-details-create-admin .category .dot {
    height: 15px;
    width: 15px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
    border: 4px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    border-color: #d9d9d9;
    background-color: black;
}