.form-pay-container {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 75vh;
  justify-content: center;
  background-color: #fff;
}

.pay-container {
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 120%;
  height: 120%;
  max-width: 400px;
  max-height: 300px;
  padding: 25px 30px;
  border-radius: 5px;
}

.total-pay {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.title-pay {
  font-size: 25px;
  font-weight: 800;
  position: relative;
  margin-bottom: 8px;
}

.form-submit-pay {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}

.form-submit-pay input {
  height: 100%;
  width: 40%;
  background-color: black;
  color: white;
  border-radius: 25px;
  font-weight: 1000;
  border: none;
  font-size: 12px;
}
.mpButton{
  position: relative;
  display: flex;
  padding: 9px;
  left: -10px;
  bottom: 20px;
  /* position: absolute; */
  background-color: white(33, 154, 188);
  /* bottom: 200px; */
  filter: drop-shadow(1px 1px 0.5px black);
  align-items: center;
  border-radius: 20px;
  

}
.mpButton:hover{
    background-color: black;
    color: white;
    filter: drop-shadow(1px 1px 0.5px white);;

}
.mpImage{
  width: 30px;
  filter: drop-shadow(1px 1px 0.5px black);

}
.mpImage{
 
  filter: drop-shadow(1px 1px 0.5px white);
  

}
.cancelButton{
  background-color: black;
  color: white;
  width: 100px;
  padding: 5px;
  border-radius: 20px;
  filter: drop-shadow(1px 1px 0.5px white);
}

.cancelButton:hover{
  background-color: white;
  color: black;
  width: 100px;
  padding: 5px;
  filter: drop-shadow(1px 1px 0.5px black);
}